<div>
  <app-navbar></app-navbar>
  <h2>Write a Blog</h2>

  
  <p-editor id="editor" [(ngModel)]="text" name="text" [style]="{ height: '320px' }"></p-editor>

  <p-toast />
  <button (click)="submitBlog()">Submit Blog</button>

  <hr />

  <!-- Preview Extracted Data -->
  <div *ngIf="extractedTitle || extractedImage">
    <h3>Preview</h3>
    <h4>Title: {{ extractedTitle }}</h4>
    <div *ngIf="extractedImage">
      <img [src]="extractedImage" alt="Blog Image" style="max-width: 100%;" />
    </div>
    <div [innerHTML]="text"></div>
  </div>
</div>
