<div id="container">
  <div id="in-container">
    <div id="head">
      <h1 [align]="center">Sign In</h1>
    </div>

    <div id="form-container">
      <form #form="ngForm" (ngSubmit)="submitForm(form.value)">
        <div id="form-control">
          <label for="username">Name</label><br>
          <input
            type="text"
            class=""
            pInputText
            name="username"
            id="username"
            ngModel
          />
          
        </div>
        <div id="form-control">
          <label for="regnum">Register Number</label><br>

          <input type="text" pInputText name="rno" id="rno" ngModel />
        </div>
        <div id="form-control">
          <label for="dob">Date of birth</label><br>
          <p-calendar
            [iconDisplay]="'input'"
          
            [showIcon]="true"
            inputId="icondisplay"
            name="date"
            ngModel
          />
        </div>
        <div id="sub">
            
         <button type="submit">Submit</button>
        </div>

      </form>
    </div>
  </div>
</div>
<router-outlet></router-outlet>