<div id="nav-container">
  <div id="logo">
    <img
      src="https://sjec.ac.in/storage/config/1718876544_6673f9807e469.png"
      alt=""
      srcset=""
    />
  </div>
  <div id="menu">
    <nav>
      <ul>
        <li><a routerLink="/home" routerLinkActive="active" > Home</a> </li>
        <li><a routerLink="/readBlog" routerLinkActive="active">Blogs</a></li>
        <li><a routerLink="/write" routerLinkActive="active">Write</a></li>
        <li><a  routerLink="/magList" routerLinkActive="active">Magzines</a></li>
        
        <li><p-button id="p-button" (onClick)="sidebarVisible2 = true" [text]="true"  label="Profile" /></li>
      </ul>
    </nav>
  </div>
</div>

<p-sidebar [(visible)]="sidebarVisible2" position="right">
    <h3>Right Sidebar</h3>
</p-sidebar>
<router-outlet></router-outlet>